body {
  background-color: #e6e2f78b;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  /* border: 1px solid #bfbfbf; */
  padding: 10px;
  background-color: #ffffff;
}

.left-ection

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  color: #bfbfbf;
  font-size: 14px;
  height: 34px;
  padding: 0 10px;
  border-radius: 10px;
  background-color: #fff; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
}

.search-bar {
  border: none; 
  outline: none; 
  width: 100%; 
}

.logreg-container {
  display: flex;
  gap: 8px;
}

.login-button, .register-button {
  border-radius: 15px;
  height: 30px;
  border: 1px solid #6357e8;
  padding: 0 20px;
  font-size: 10px;
  font-weight: 900;
}
.login-button {
  color: #6357e8;
}

.login-button:hover {
  background-color: #6357e859;
  cursor: pointer;
}

.register-button {
  background-color: #6357e8;
  color: #fff;
}

.register-button:hover {
  background-color: #6357e8d6;
  cursor: pointer;
}


/* .confirm {
  display: flex;
  flex-direction: center;
} */

.login-submit, .reg-submit {
  display: flex;
  height: 40px;
  width: 100%; 
  margin: 0 auto;
  padding: 0 10%;
}

.login-submit:hover, .reg-submit:hover {
  cursor: pointer;
}

.text-submit {
  display: flex;
  justify-content: center;
  font-size: 10px;
  margin-left: 8px;
}

/*  */

.popup {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* background-color: rgba(0,0,0,0.4); */
}
  
.popup-inner {
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  width: 40%;
}
  
.popup-inner h2 {
  margin-top: 0;
}
  
.popup-inner label {
  display: block;
  margin-bottom: 10px;
}
  
.popup-inner input {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}
  
.popup-inner button[type="submit"],
.popup-inner button[type="button"] {
  background-color: #6357e8;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
}
  
.popup-inner button[type="submit"]:hover,
.popup-inner button[type="button"]:hover {
  background-color: #6357e8;
}
  
.popup-inner button[type="submit"] {
  margin-top: 20px;
}
  
.popup-inner button[type="button"] {
  margin-top: 20px;
  background-color: #f44336;
}
  
.popup-inner button[type="button"]:hover {
  background-color: #da190b;
}
  
.popup-inner button[type="submit"]:disabled {
  background-color: #bfbfbf;
  color: #ffffff;
  cursor: not-allowed;
}
  
.popup-inner button[type="button"]:disabled {
  background-color: #bfbfbf;
  color: #ffffff;
  cursor: not-allowed;
}


.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #f44336;
  color: white;
  border: none;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.close-button:hover {
  background-color: #da190b;
}


/*  */

.options {
  display: flex;
  align-items: center;
  height: 30px;
  padding: 0 10px;
  border: none; 
  background-color: #ffffff;
  cursor: pointer;

}


.options:hover {
  outline: 1px solid;
  border-radius: 4px;
  cursor: pointer;
}


.bttn {
  display: flex;
  align-items: center;
  height: 90%;
  width: 100%;
  font-weight: 600;
  font-size: 12px;
  /* padding: 5px; */
  border: none; 
  background-color: #ffffff;
}

.bttn:hover {
  cursor: pointer;
  background-color: #6357e8;
  color: #ffffff;
}

.popup-inner {
  padding: 10px; 
}


.icon-spacing {
  margin-right: 15px;
}


/* .options:focus {
  outline: none;
}  */

/*  */

/* Add this to your existing CSS or global styles */




