* {
    box-sizing: border-box;
    font-family: 'Roboto', Arial;
    margin: 0;
    padding: 0;
    max-width: 480px ;

}
/* main body */
.main_body{

    max-height: 100vh;
    background-color: #f9f9f9;
    overflow-y: scroll;
    

}
/* shorts */
#short_line {
    display: flex;
    align-items: center;
    padding-left: 8px;
    background-color:#f9f9f9;
}
.shorts_logo {
    width: 12px;
    height: 12px;
    margin-left: 35px;
    margin-right: 2px;
}

.logo_title {
    font-size: 9px;
    font-weight: 700;
    color: black;
}
