.shorts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2px;
    padding-top: 5px ;
    margin: 5px;
    margin-left: 36px;
    margin-top: 1px;
  }

  .short_container {
    flex: 0 0 calc(33.33% - 3px);
    display: flex;
    flex-direction: column;
  }
  
  .short_preview {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .s_thumbnail_row{
    position: relative;
    display: flex;
    margin-bottom: 3px;
  }
  
  .s_thumbnail{
    width: 100%;
    min-width: 50px;
    min-height: 25px;
    background-color: #AAA;
    border-radius: 5px;
  }
  
  .short_info{
    display: inline-block;
    width: 100%;
    margin-left: 1px;
  }
  
  .short_title{
    margin-top: 0;
    font-size: 6px;
    font-weight: 500;
    margin-bottom: 1px;
  }
  
  .short_stats{
    color: #555;
    font-size: 5px;
    margin-bottom: 4px;
    width: 100%;
  }
    
 
    /* @media (max-width: 667px) {
      .video_section {
        grid-template-columns: 1fr ;
  
      }
    } */
    
  
  